<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
	</configSections>

	<castle>
		<components>
			<!-- tell windsor about your components: -->
			<component id="INumberFactory"
					   service="IoCDemo.WindsorDemo.INumberFactory, IoCDemo"
					   type="IoCDemo.WindsorDemo.HardCodedNumberFactory, IoCDemo" />
								<!-- type="IoCDemo.WindsorDemo.RandomNumberFactory, IoCDemo" /> -->
			
			<component id="IOutputService"
					   service="IoCDemo.WindsorDemo.IOutputService, IoCDemo"
					   type="IoCDemo.WindsorDemo.ConsoleOutputService, IoCDemo" />
			
			<!-- note that here we are specifying a concrete type -->
			<component id="Calculator"
					   type="IoCDemo.WindsorDemo.Calculator, IoCDemo">
			</component>
		</components>
	</castle>
</configuration>