<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AssociationBug.Properties.Settings.AMSConsolidatedConnectionString"
            connectionString="Data Source=sqldev\sql2005;Initial Catalog=AMSConsolidated;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>