<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqConcurrency.Properties.Settings.LinqConcurrencyTestConnectionString"
            connectionString="Data Source=(local);Initial Catalog=LinqConcurrencyTest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>