<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>


	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<!-- writes to console, change this to whatever format you like (see docs) -->
			<target name="console" xsi:type="Console" layout="${longdate} [${level}]    ${message}"/>
		</targets>
		<rules>
			<!-- everything >= Debug goes to console -->
			<logger name="*" minlevel="Debug" writeTo="console"/>
		</rules>
	</nlog>

</configuration>
