<cruisecontrol>

  <project name="GroupOne">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\GroupOne</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\GroupOne</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>Group One</repository>
      <folder>$</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>E:\Program Files\CruiseControl.NET\build\GroupOne</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <msbuild>
        <executable>C:\Windows\Microsoft.NET\Framework\v2.0.50727\MSBuild.exe</executable>
        <workingDirectory>E:\Program Files\CruiseControl.NET\build\GroupOne\src</workingDirectory>
        <projectFile>GroupOne.msbuild</projectFile>
        <targets>Build</targets>
        <logger>ThoughtWorks.CruiseControl.MsBuild.XmlLogger,ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
      <nunit>
        <path>E:\Program Files\CruiseControl.NET\NUnit-2.2.6\bin\nunit-console.exe</path>
        <assemblies>
          <assembly>E:\Program Files\CruiseControl.NET\build\GroupOne\src\RealEstate.Test\bin\Release\Blackfin.RealEstate.Tests.dll</assembly>
        </assemblies>
        <timeout>1200</timeout>
      </nunit>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85-rc3\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\build\GroupOne\src\GroupOne_Deploy\GroupOne_Deploy.build</buildFile>
        <buildArgs>-D:source.dir="E:\Program Files\CruiseControl.NET\build\GroupOne\src\PrecompiledWeb\GroupOneWeb" -D:target.dir="E:\DevSites\GroupOne"</buildArgs>
        <targetList>
          <target>deployLocal</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="jwalker" group="developers" address="jwalker@blackfintech.com" />
          <user name="junger" group="developers" address="junger@blackfintech.com" />
          <user name="tgautier" group="developers" address="tgautier@blackfintech.com" />
          <user name="ckrasselt" group="developers" address="ckrasselt@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="managers" notification="change" />
        </groups>
      </email>
      <merge>
        <files>
          <file>E:\Program Files\CruiseControl.NET\build\GroupOne\msbuild-results.xml</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
    <state type="state" />
  </project>

  <project name="HP Customer Briefing">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\HP_Customer_Briefing</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\HP_Customer_Briefing</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>HP_Indigo_Customer_Briefing</repository>
      <folder>$/HP_DPS/Briefing</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>E:\Program Files\CruiseControl.NET\build\HP_Customer_Briefing</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <ssl>true</ssl>
    </sourcecontrol>

    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85-rc3\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\build\HP_Customer_Briefing\Source\HP_Briefing.build</buildFile>
        <buildArgs>-D:project.root.dir="E:\Program Files\CruiseControl.NET\Build\HP_Customer_Briefing" -D:project.deploy.dir="E:\DevSites\HP_Customer_Briefing\CustomerBriefing"</buildArgs>
        <targetList>
          <target>deploy</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>E:\Program Files\CruiseControl.NET\build\ZigZorp\*-results.xml</file>
        </files>
      </merge>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="tkonesky" group="developers" address="tkonesky@blackfintech.com" />
          <user name="ckrasselt" group="buildmanagers" address="ckrasselt@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>
      <xmllogger />
    </publishers>
    <state type="state" />
  </project>

  <project name="SawTek Analysis">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\SawTekAnalysis\Working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\SawTekAnalysis</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>BC SawTek Analysis</repository>
      <folder>$/src</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>E:\Program Files\CruiseControl.NET\build\SawTekAnalysis\Working</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85-rc3\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\Build\SawTekAnalysis\Working\Sawtek.build</buildFile>
        <targetList>
          <target>build</target>
          <target>runComparator</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>

      <nunit>
        <path>E:\Program Files\CruiseControl.NET\NUnit-2.0 2.2.8\bin\nunit-console.exe</path>
        <assemblies>
          <assembly>E:\program files\CruiseControl.NET\Build\SawTekAnalysis\Working\Sawtek Analysis\SawTekAnalysis.Test\bin\Release\SawTekAnalysis.Test.dll</assembly>
        </assemblies>
        <timeout>1200</timeout>
      </nunit>

      <!-- 2nd nant task happens after the unit tests have passed -->
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85-rc3\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\Build\SawTekAnalysis\Working\Sawtek.build</buildFile>
        <targetList>
          <target>packageInstall</target>
        </targetList>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
          <user name="jrickerd" group="developers" address="jrickerd@blackfintech.com" />
          <user name="ckrasselt" group="managers" address="ckrasselt@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="managers" notification="change" />
        </groups>
      </email>
      <merge>
        <files>
          <file>E:\Program Files\CruiseControl.NET\build\SawTekAnalysis\Working\msbuild-results.xml</file>
        </files>
      </merge>
      <xmllogger />
    </publishers>
    <state type="state" />
  </project>

  <project name="EWP Centerbeam">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\CenterBeam\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\CenterBeam\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>BC EWP Product Database</repository>
      <folder>$</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>E:\Program Files\CruiseControl.NET\build\CenterBeam\working</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>

    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85-rc3\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\build\CenterBeam\working\src\CenterBeam.build</buildFile>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
        <buildArgs>-D:devenv="E:\Program Files\Microsoft Visual Studio .NET 2003\Common7\IDE\devenv.com"</buildArgs>
      </nant>
    </tasks>

    <publishers>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="tfunke" group="developers" address="tfunke@blackfintech.com" />
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
          <user name="toblak" group="developers" address="toblak@blackfintech.com" />
          <user name="jpetrie" group="developers" address="jpetrie@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>
      <xmllogger />
    </publishers>
    <state type="state" />
  </project>

  <project name="Blackfin.CMS">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\Blackfin.CMS\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\Blackfin.CMS\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>Blackfin CMS</repository>
      <folder>$/trunk</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>.</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\build\Blackfin.CMS\working\src\Blackfin.CMS.build</buildFile>
        <targetList>
          <target>buildCruiseControl</target>
        </targetList>
        <buildArgs>-D:deploy.site.dir="E:\DevSites\BlackfinCms"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>src\Blackfin.Cms\Build\AutomatedTest\test-reports\*.xml</file>
        </files>
      </merge>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
          <user name="jbrooks" group="developers" address="jbrooks@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="managers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>

  <project name="Primary Health">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\PrimaryHealth\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\PrimaryHealth\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>PrimaryHealth Websites</repository>
      <folder>$/src</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>E:\Program Files\CruiseControl.NET\Build\PrimaryHealth\working</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <nologo>false</nologo>
        <buildFile>E:\Program Files\CruiseControl.NET\build\PrimaryHealth\working\default.build</buildFile>
        <targetList>
          <target>build</target>
        </targetList>
        <buildArgs>-D:dir.dev="E:\DevSites\PrimaryHealth"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <!--
      <merge>
        <files>
          <file>src\Blackfin.Cms\Build\AutomatedTest\test-reports\*.xml</file>
        </files>
      </merge>
      -->
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="buildManagers" address="trasa@blackfintech.com" />
          <user name="jrickerd" group="developers" address="jrickerd@blackfintech.com" />
          <user name="ckrasselt" group="buildManagers" address="ckrasselt@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildManagers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>

  <project name="DCI">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\DCI\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\DCI\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>Discovery Center of Idaho</repository>
      <folder>$/trunk</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>.</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <baseDirectory>.</baseDirectory>
        <nologo>true</nologo>
        <buildFile>DCI.build</buildFile>
        <targetList>
          <target>build</target>
        </targetList>
        <buildArgs>-D:deploy.site.dir="E:\DevSites\DCI" -D:copyDevConfig=true</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>src\Build\AutomatedTest\test-reports\*.xml</file>
        </files>
      </merge>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
          <user name="bpowell" group="developers" address="bpowell@blackfintech.com" />
          <user name="jbrooks" group="developers" address="jbrooks@blackfintech.com" />
		  <user name="elliot" group="developers" address="elliot@blackfintech.com" />
          <user name="jpetrie" group="buildmanagers" address="jpetrie@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>

  <project name="DCIBranch">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\DCIBranch\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\DCIBranch\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>Discovery Center of Idaho</repository>
      <folder>$/branches/20070212_Release</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>.</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <baseDirectory>.</baseDirectory>
        <nologo>true</nologo>
        <buildFile>DCI.build</buildFile>
        <targetList>
          <target>build</target>
        </targetList>
        <buildArgs>-D:deploy.site.dir="E:\DevSites\DCIBranch"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
          <user name="bpowell" group="developers" address="bpowell@blackfintech.com" />
          <user name="jbrooks" group="developers" address="jbrooks@blackfintech.com" />
          <user name="toblak" group="developers" address="toblak@blackfintech.com" />
          <user name="jpetrie" group="buildmanagers" address="jpetrie@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>


  <project name="KwikBinder">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\KwikBinder\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\KwikBinder\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>KwikBinder</repository>
      <folder>$</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>.</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <baseDirectory>.\src</baseDirectory>
        <nologo>true</nologo>
        <buildFile>.\Kwikbinder_simple.build</buildFile>
        <targetList>
          <target>build</target>
        </targetList>
        <buildArgs>-D:deploy.site.dir="E:\DevSites\Kwikbinder"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>src\Build\AutomatedTest\test-reports\*.xml</file>
        </files>
      </merge>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
          <user name="aneal" group="developers" address="aneal@blackfintech.com" />
          <user name="ckrasselt" group="buildmanagers" address="ckrasselt@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>



  <project name="Blackfin Operations">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\Blackfin Operations\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\Blackfin Operations\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>Blackfin Operations</repository>
      <folder>$</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>.</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>

    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <baseDirectory>.\src\CrmWebSiteConnector\src</baseDirectory>
        <nologo>true</nologo>
        <buildFile>.\CrmWebSiteConnector_Deploy\CrmWebSiteConnector.build</buildFile>
        <targetList>
          <target>BuildDeployStage</target>
        </targetList>
        <buildArgs>-D:deploy.dir="E:\DevSites"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <baseDirectory>.\src\WebTools\src</baseDirectory>
        <nologo>true</nologo>
        <buildFile>.\WebTools_Deploy\WebTools.build</buildFile>
        <targetList>
          <target>deploy.stage</target>
        </targetList>
        <buildArgs>-D:target.dir="E:\DevSites\WebTools"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <!--
			<merge>
				<files>
					<file>E:\Program Files\CruiseControl.NET\build\WebTools\Working\msbuild-results.xml</file>
				</files>
			</merge>
			-->
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="tkonesky" group="developers" address="tkonesky@blackfintech.com" />
          <user name="aneal" group="developers" address="aneal@blackfintech.com" />
          <user name="bmowery" group="developers" address="bmowery@blackfintech.com" />
          <user name="trasa" group="buildmanagers" address="trasa@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>

  <project name="Kickstand">
    <workingDirectory>E:\Program Files\CruiseControl.NET\build\Kickstand\working</workingDirectory>
    <artifactDirectory>E:\Program Files\CruiseControl.NET\build\Kickstand\artifact</artifactDirectory>
    <webURL>http://dev.blackfintech.com/cruise</webURL>
    <publishExceptions>true</publishExceptions>

    <triggers>
      <intervalTrigger seconds="300" />
    </triggers>

    <sourcecontrol type="vault" autoGetSource="true">
      <executable>c:\program files\sourcegear\vault client\vault.exe</executable>
      <host>vault.blackfintech.com:8882</host>
      <username>CruiseControlUser</username>
      <password>secretpassword</password>
      <repository>Kickstand2</repository>
      <folder>$/trunk</folder>
      <useWorkingDirectory>true</useWorkingDirectory>
      <workingDirectory>.</workingDirectory>
      <cleanCopy>true</cleanCopy>
      <applyLabel>true</applyLabel>
      <ssl>true</ssl>
    </sourcecontrol>


    <tasks>
      <nant>
        <executable>E:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
        <baseDirectory>src</baseDirectory>
        <nologo>true</nologo>
        <buildFile>Kickstand.build</buildFile>
        <targetList>
          <target>buildCruiseControl</target>
        </targetList>
        <buildArgs>-D:deploy.site.dir="E:\DevSites\Kickstand"</buildArgs>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </nant>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>src\Kickstand\Build\AutomatedTest\test-reports\*.xml</file>
        </files>
      </merge>
      <email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="TRUE">
        <users>
          <user name="trasa" group="developers" address="trasa@blackfintech.com" />
        </users>
        <groups>
          <group name="developers" notification="always" />
          <group name="buildmanagers" notification="change" />
        </groups>
      </email>

      <xmllogger />

    </publishers>
    <state type="state" />
  </project>


</cruisecontrol>

