<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>


	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
				<!-- choices are INLINE, FILE, FILE-WATCH, EXTERNAL-->
				<!-- otherwise BasicConfigurer.Configure is used   -->
				<!-- log4net configuration file is specified with key configFile-->
				<arg key="configType" value="INLINE" />
			</factoryAdapter>
		</logging>
	</common>


	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<!-- writes to console, change this to whatever format you like (see docs) -->
			<target name="console" xsi:type="Console" layout="HAI COMMON LOGGING: ${longdate} [${level}]    ${message}"/>
		</targets>
		<rules>
			<!-- everything >= Debug goes to console -->
			<logger name="*" minlevel="Debug" writeTo="console"/>
		</rules>
	</nlog>

	
</configuration>