<cruisecontrol>
	<project name="SimpleExample">
		
		<!-- where all the build pieces & parts go. -->
		<artifactDirectory>C:\program files\cruisecontrol.net\Build\SimpleExample\Artifacts</artifactDirectory>
		<workingDirectory>C:\program files\cruisecontrol.net\Build\SimpleExample\Working</workingDirectory>

		<!-- what launches a build? -->
		<triggers />
			<!-- 
			wakes up every 300 seconds to see if theres work to be done: 
			<intervalTrigger seconds="300" /> 
			-->
			<!-- <scheduleTrigger time="23:00" buildCondition="IfModificationExists" /> -->
			
			<!-- for this example, we're doing "forced only" (no trigger) -->
		
		<tasks>
			<!-- 
			this is where you tell ccnet what to do.
			each of these tasks is executed in order.  if any of them "fail" the build immediately fails.
			
			A hint:  Managing your project will be much easier if you 
			have ccnet handle AS LITTLE AS POSSIBLE.
			
			You should put all the interesting functionality into your nant build, and then use 
			ccnet ONLY to fire off that build script.  This gives you two advantages:
			1) you're not dealing with the tempermental ccnet.config file.
			2) Anybody on the project can run the build on their own machine, verifying
			   that their setup works, before risking breaking the build. 
			-->
			<nant>
				<executable>C:\Program Files\CruiseControl.NET\nant\0.85\bin\nant.exe</executable>
				<buildFile>SimpleExample.build</buildFile>
				<targetList>
					<target>build</target>
				</targetList>
			</nant>
		</tasks>
		
		<!-- Don't think of this publishers block as something too different from "tasks" - 
			its really just an extension of all the "tasks" that make up a successful build.
		-->
		<publishers>
			<email from="noreply@blackfintech.com" mailhost="mail.blackfintech.com" includeDetails="true">
				<users>
					<user name="trasa" group="dev" address="trasa@blackfintech.com" />
				</users>
				<groups>
					<group name="dev" notification="always" />
					<!--
					<group name="mgrs" notification="change" />
					<group name="onFailure" notification="failed" />
					<group name="onSuccess" notification="success" />
					-->
				</groups>
			</email>
			<!-- if you forget to add this little bit here, then you'll get incredibly unhelpful
				exception messages when you try to view build logs.  
			-->
			<xmllogger />
		</publishers>
	</project>
</cruisecontrol>