<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">

	<!-- namespace: MissileCommand.Core -->
	<object name="IConnectionFactory" type="MissileCommand.Core.MissileConnectionFactory, MissileCommand.Core" singleton="true" />
	
	<!--<object name="IMissileLaunchingSystem" type="MissileCommand.Core.MissileLaunchingSystem, MissileCommand.Core" />-->
	<object name="IMissileLaunchingSystem" type="MissileCommand.Test.Stubs.StubMissileLaunchingSystem, MissileCommand.Test" />

	<object name="IVectorProvider" type="MissileCommand.Core.MainframeVectorProvider, MissileCommand.Core" />
</objects>